.App{
  position: relative;
  height: 100vh;
}

.text-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.button-wrapper{
  display: flex;
}

.searchbar{
  width: 500px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.navbar{
  height: 10vh;
}

.night-switch{
  padding-top: 10px;
}

.selected-pokemon{
  font-weight: 700;
}

li{
  list-style-type: none;
  padding-bottom: 10px;
  margin-left: -40px;
  text-transform: capitalize;
}


p{
  text-transform: capitalize;
}

.transition{
  transition: padding-top 1.5s ease-in-out;
}

.cursor{
  cursor: pointer;
}